MONGO_INITDB_ROOT_USERNAME=naimulislam747
MONGO_INITDB_ROOT_PASSWORD=naimulislam747
MONGO_URI=mongodb+srv://naimulislam747:naimulislam747@cluster.bdellsv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster
MONGO_DATABASE=somorpon-db
BACKEND_PORT=
GATEWAY_PORT=
NODE_ENV=
