MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URI=mongodb+srv://naimulislam747:naimulislam747@cluster.bdellsv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster
MONGO_DATABASE=
BACKEND_PORT=
GATEWAY_PORT=
NODE_ENV=
